alembic==1.16.1
boto3
botocore
fastapi==0.115.12
faiss-cpu==1.11.0
google-api-python-client==2.169.0
google-auth==2.40.2
google-auth-httplib2==0.2.0
httpx==0.28.1
Jinja2==3.1.6
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.60
langchain-google-genai==2.0.10
langchain-text-splitters==0.3.8
MarkupSafe==3.0.2
numpy==2.2.6
openai==1.81.0
pandas==2.2.3
protobuf==5.29.4
psycopg2-binary==2.9.10
PyMuPDF==1.26.0
pypdf==5.5.0
pydantic==2.11.4
pydantic-settings==2.9.1
pydantic_core==2.33.2
python-dotenv==1.1.0
python-multipart==0.0.20
rdflib==6.3.2
requests==2.32.3
SQLAlchemy==2.0.41
tenacity==9.1.2
tiktoken==0.9.0
typing_extensions==4.13.2
tzdata==2025.2
uvicorn==0.34.2
